@charset "UTF-8";

body {
    background: rgb(154, 124, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

header {
    color: white;
    text-align: center;
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 3px 0px #0000005c;
}

h2#tempo {
    text-align: center;
    font-size: 2em;
}

.start {
    width: 49%;
    font-size: 1.5em;
}

.stop {
    width: 49%;
    font-size: 1.5em;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}