

@charset "UTF-8";

*{
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 1em; /* O ícone terá o mesmo tamanho que o texto do botão */
    vertical-align: middle; /* Alinha o ícone centralizado verticalmente com o texto */
}

.clicado {
    color: green;
    font-variation-settings:'FILL' 1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-radius: 10px 0px 0px 10px;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-radius: 0px 10px 10px 0px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding-top: 40px;

}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
    cursor: pointer;
}

.item.clicado {
    background-color: #d4f6d9;
}

.item.clicado .item-nome{
    text-decoration: line-through ;
    color: gray;
}

div.item-icone {
    /* border: 1px solid orangered; */
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

div.item-nome {
    /* border: 1px solid deeppink; */
    flex: 55%;
    font-size: 1.3em;
    font-weight: bold;
}

div.item-botao {
    /* border: 1px solid darkgreen; */
    flex: 25%;
}

button.delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center; /* Alinha ícone e texto verticalmente */
    gap: 8px; /* Cria um espaço entre o ícone e o texto */
    font-size: 16px; /* Defina o tamanho do texto aqui */
}

